.header {
  margin-left: 18%;
  text-transform: uppercase;
  color: var(--font-color);
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
}

h2 {
  padding: 30px 40px;
  letter-spacing: 2px;
  font-family: Montserrat-Medium, monospace;
}
