<form
  class="b-form"
  [formGroup]="group"
>
  <tui-input formControlName="roomNumber">Room Number</tui-input>
  <tui-error
    formControlName="roomNumber"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
  <tui-input class="tui-space_vertical-3" formControlName="owner">Owner</tui-input>
  <tui-error
    formControlName="owner"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
</form>

<button tuiButton appearance="primary" class="tui-space_right-3" (click)="ok()" [disabled]="disabled">Save</button>
<button tuiButton (click)="cancel()">Cancel</button>
