<form
  class="b-form"
  [formGroup]="group"
>
  <tui-input formControlName="name">Name</tui-input>
  <tui-error
    formControlName="name"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
  <tui-input class="tui-space_vertical-3" formControlName="price">Price</tui-input>
  <tui-error
    formControlName="price"
    [error]="[] | tuiFieldError | async"
  ></tui-error>
</form>

<button tuiButton appearance="primary" class="tui-space_right-3" (click)="ok()" [disabled]="disabled">Save</button>
<button tuiButton (click)="cancel()">Cancel</button>
