img {
  height: auto;
  margin-top: 20px;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

tui-svg {
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 20px 0 10px;
}

.sidebar {
  position: fixed;
  width: 18%;
  height: 100vh;
  background: var(--gray);
  //font-size: 0.65em;
  font-size: 0.8vw;

  font-weight: 500;
}

.nav {
  position: relative;
  top: 20vw;
  transform: translateY(-50%);
}

.nav {
  ul {
    list-style: none;

    li {
      position: relative;

      a {
        line-height: 6vw;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 30px;
        text-align: left;
        letter-spacing: 0.4em;
        color: var(--light-gray);
        display: block;
        transition: all ease-out 300ms;
      }

      &.active a {
        color: white;
        background: var(--mid-gray);
        transition: all ease-out 800ms;
      }

      &:not(.active)::after {
        opacity: 0.2;
        display: none;
      }

      &:not(.active):hover a {
        color: rgba(#FFF, 0.75);
        background: rgba(var(--mid-gray-rgba), 0.30);
      }
    }
  }
}
