<app-header [title]="'Company information'"></app-header>

<div class="main">

<!--  <pre class="tui-space_bottom-3">{{ company$ | async | json }}</pre>-->
<!--  {{ isEditModeOn ? 'Disable edit' : 'Enable edit' }}-->
  <tui-toggle
    [(ngModel)]="isEditModeOn"
    size="l"
    (click)="toggleForm()"
  ></tui-toggle>

  <form
    class="b-form"
    [formGroup]="group"
  >
    <tui-input class="tui-space_vertical-3" formControlName="name">Company name</tui-input>
    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="companyId">Company ID</tui-input>
    <tui-error
      formControlName="companyId"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="address">Address</tui-input>
    <tui-error
      formControlName="address"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="bank">Bank</tui-input>
    <tui-error
      formControlName="bank"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input-phone
      formControlName="phone"
      [countryCode]="'+995'"
      [phoneMaskAfterCountryCode]="'###-##-##-##'"
    >
      Phone
      <input
        tuiTextfield
        autocomplete="tel"
      />
    </tui-input-phone>
    <tui-error
      formControlName="phone"
      [error]="[] | tuiFieldError | async"
    ></tui-error>

    <tui-input class="tui-space_vertical-3" formControlName="email">
      Email
      <input
        tuiTextfield
        type="email"
      />
    </tui-input>
    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"
    ></tui-error>
<!--    <tui-input-files-->
<!--      *ngIf="!control.value"-->
<!--      accept="image/*"-->
<!--      formControlName="logo"-->
<!--      (reject)="onReject($event)"-->
<!--    ></tui-input-files>-->

<!--    <tui-files class="tui-space_top-1">-->
<!--      <tui-file-->
<!--        *ngIf="loadedFiles$ | async as file"-->
<!--        [file]="file"-->
<!--        (removed)="removeFile()"-->
<!--      ></tui-file>-->

<!--      <tui-file-->
<!--        *ngIf="rejectedFiles$ | async as file"-->
<!--        state="error"-->
<!--        [file]="file"-->
<!--        (removed)="clearRejected()"-->
<!--      ></tui-file>-->

<!--      <tui-file-->
<!--        *ngIf="loadingFiles$ | async as file"-->
<!--        state="loading"-->
<!--        [file]="file"-->
<!--      ></tui-file>-->
<!--    </tui-files>-->
  </form>

  <button tuiButton appearance="primary" class="tui-space_right-3" (click)="save()" [disabled]="disabled">Save</button>
</div>

<!--change logotip todo-->
